<div *ngIf="transaction">
	<form>
		<div class="form-group">
			<label for="title">Title: </label>
			<input class="form-control" name="title" id="title" placeholder="title" [(ngModel)]="transaction.title">
		</div>
		<div class="form-group">
			<label>Date: </label>
			<input class="form-control" name="date" type="date" [(ngModel)]="transaction.date"> {{ transaction.date }}
		</div>
		<div class="form-group">
			<label>Value: </label>
			<input class="form-control" name="value" type="number" placeholder="value" [(ngModel)]="transaction.value">
		</div>
		<button class="btn btn-primary" (click)="save()">Save</button>
		<button class="btn btn-default" (click)="goBack()">Cancel</button>
	</form>
</div>